<img class="current-weather__icon" src="{{icon}}" alt="icon" />
<p class="current-weather__city-name">{{name}}</p>
<div class="current-weather__temperature-wrapper">
    <p class="current-weather__temperature">{{temp}}</p>
    <div class="current-weather__extremum-wrap">
        <div class="current-weather__extremum">
            <p class="current-weather__extremum-title">min</p>
            <span class="current-weather__extremum-value">{{temp_min}}</span>
        </div>

        <div class="current-weather__extremum">
            <p class="current-weather__extremum-title">max</p>
            <span class="current-weather__extremum-value">{{temp_max}}</span>
        </div>
    </div>
</div>  