{{#each this}}
<li class="forecast-info__list-item">
    <p class="forecast-info__time">{{time}}</p>
    <img class="forecast-info__icon" src={{icon}} alt="icon" />
    <p class="forecast-info__temp">{{temp}}</p>

    <ul class="forecast-info__details-list">
        <li class="forecast-info__details-item forecast-info__details-item--precipitation">
            <p class="forecast-info__value">{{pressure}} mm</p>
        </li>
        <li class="forecast-info__details-item forecast-info__details-item--humidity">
            <p class="forecast-info__value">{{humidity}}%</p>
        </li>
        <li class="forecast-info__details-item forecast-info__details-item--wind">
            <p class="forecast-info__value">{{wind}} m/s</p>
        </li>
    </ul>
</li>
{{/each}}